<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity android:name=".AppInfoActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SettingAccount" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".QuizResultActivity" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- 앱 내부 딥링크 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="studywithme"
                    android:host="invite" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EventDetailActivity"
            android:exported="false" />

        <activity
            android:name=".EditEventActivity"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" />

    </application>

</manifest>